{% extends "base.html" %}

{% block tabs %}
  {{ super() }}
<style>
.md-search {
  display: none !important;
}
</style>
<section class="hero-container">
    <div class="hero-image"></div>
    <div class="hero-content">
    <h1 id="typing"></h1>      </div>

    <div class="scroll-down">
      <span></span>
    </div>
  </section>
  <script>
document.addEventListener("DOMContentLoaded", () => {
  const text = {{ config.extra.tagline | tojson }};
  const target = document.getElementById("typing");

  let index = 0;
      let a = 0;
      function typeNextChar() {
        if (index < text.length) {
          target.textContent += text.charAt(index);
          index++;
        }
        if (target.textContent.endsWith("|") && a === 10) {
          target.textContent = target.textContent.slice(0, -1);
        }
        if(index === text.length){
        if (a === 0) {
          target.textContent += "|";
        }
        if (++a > 20) a = 0;
      }
        setTimeout(typeNextChar, 100);
      }
      typeNextChar();
    });
  </script>
{% endblock %}

